h2 {
  color: red;
}

img {
  float: right; 
}

footer {
  clear: both;
  text-align: center;
}

p {
  color: green;
  line-height: 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
}

h2{
  text-align: center;
  border: 10px solid purple;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

body {
  background-image: url('https://images.unsplash.com/photo-1560336767-9bb468f204c0?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
}

#home {
  cursor: pointer;
}