.CardList {
  display: flex;
  flex-wrap: wrap;
  height: 50rem;
  overflow-y: scroll;
  border: 0.2rem solid black;
}

.card:hover {
  transform: scale(1.1);
  -webkit-transition: transform 0.2s ease-in-out;

}