body {
  margin: 0;
  font-family: 'Courier Ne', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgba(37,192,224,1) 46%, rgba(0,181,255,1) 87%);
}

button {
  cursor: pointer;
}